<%= simple_form_for @profile , url:profile_path(@profile) do |f| %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center">
        <h2>Edit your Profile</h2>
      </div>
      <hr>
      <p>Tell us more about you! The more information you can share the better. Share your technical skills and altogether awesomeness. Go ahead, brag a little bit.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :city, label: "City/town" %>
      <%= f.input :state, collection: State::STATES, include_blank: 'Select...',required: true, label: "State", input_html: { class: "chosen-select" } %>
      <%= f.input :zipcode %>
      <%= f.input :about_me %>
      <%= f.input :reason_here %>
      <%= f.association :skills, input_html: { class: "chosen-select" }  %>
      <%= f.input :education %>
      <%= f.input :current_company %>
      <%= f.input :birthday, as: :string, input_html: { class: "datepicker"} %>
      <div class="form-btns">
        <%= f.button :submit, 'Update Profile', class: 'btn btn-primary' %>
        <%= link_to "Cancel", :back, class: "btn btn-primary" %>
      </div>
  </div>
<% end %> 
</div>

<% content_for :extra_footer do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker({
        format: 'yyyy-MM-dd'
      });
    })

    $(".chosen-select").chosen()
  </script>
<% end %>