<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
    <%= form_tag(profiles_path, method: :get ) do %>            
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search for People", class: "btn btn-primary") %>
    <% end %>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Browse People</h1>
    <%= paginate @profiles %>
    <% @profiles.each do |profile| %>
      <div class="search-result-container">
        <div class="media">
          <%= link_to image_tag(gravatar_url(profile,'s5')), profile_path(profile), class: "pull-left media-object" %>
          <div class="pull-right">
            <%= "#{profile.city}, #{profile.state}" %>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= link_to "#{profile.first_name} #{ profile.last_name}", profile_path(profile) %></h4>
            Skills:
            <% if profile.skills.present? %>
              <%= profile.skills.map(&:name).join(', ') %>
            <%- end -%>
            <% if profile.about_me.present? %>
              <p><%= profile.about_me.split[0...250].join(' ')%></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>