<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <div id="profile_image">
      <%= link_to image_tag(gravatar_url(view_user,'s=250')), "http://gravatar.com/emails/" %>
    </div>
    <h3><%= "#{@profile.first_name} #{@profile.last_name}" %></h3>
    <div id="key-details">
        <p class="profile-details">
          <span class="glyphicon glyphicon-globe"></span>
          <%= " #{@profile.city}, #{@profile.state}" %>
        </p>
        <p class="profile-details">
          <span class="glyphicon glyphicon-envelope"></span>
          <%= link_to " #{@profile.email}", "mailto:#{@profile.email}" %>
        </p>
        <p class="profile-details">
          <span class="glyphicon glyphicon-time"></span>
          <span> Joined on,</span>
          <%= " #{@profile.date_formatter(@profile.created_at)}" %>
        </p>
    </div>
  </div>

  <div class="col-md-5">
    <div class="sample">
      <% if view_user == current_user %>
        <%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>') + " Edit Your Profile", edit_profile_path(current_user), :class =>  "btn btn-default" %>
        <%= link_to raw('<i class="glyphicon glyphicon-plus"></i>') + " Create a Nonprofit", new_nonprofit_path, :class =>  "btn btn-default" %>
      <% end %>
    </div>
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
      <li ><a href="#nonprofits" data-toggle="tab">My Nonprofits</a></li>
       <% if view_user == current_user %>
        <li ><a href="#recommended-opportunities" data-toggle="tab">Recommended Opportunities</a></li>
       <% end %>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="profile">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>About Me</h3>
          </div>
          <div class="panel-body">

            <dl>
              <dt class="about-me-labels">Birthday</dt>
              <% if @profile.birthday? %>
                <dd><%= @profile.date_formatter(@profile.birthday) %></dd>
              <% else %>
                <dd>No information available.</dd>
              <% end %>
            </dl>

            <dl>
              <dt class="about-me-labels">About me</dt>
              <% if @profile.about_me? %>
                <dd><%= @profile.about_me %></dd>
              <% else %>
                <dd>No information available.</dd>
              <% end %>
            </dl>

            <dl>
              <dt class="about-me-labels">Skills</dt>
                <% unless @profile.skills.empty? %> 
                  <%= @profile.skills.map(&:name).join(', ') %>
                <% else %>
                  <p>No information available.</p>
                <% end %>
            </dl>

            <dl>
              <dt class="about-me-labels">Reason I Joined Dev4aCause</dt>
              <% if @profile.reason_here? %>
                <dd><%= @profile.reason_here %></dd>
              <% else %>
                <dd>No information available.</dd>
              <% end %>
            </dl>

            <dl>
              <dt class="about-me-labels">Current Company</dt>
              <% if @profile.current_company? %>
                <dd><%= @profile.current_company %></dd>
              <% else %>
                <dd>No information available.</dd>
              <% end %>
            </dl>

            <dl>
              <dt class="about-me-labels">Education</dt>
              <% if @profile.education? %>
                <dd><%= @profile.education %></dd>
              <% else %>
                <dd>No information available.</dd>
              <% end %>
            </dl>

          </div>
        </div>
      </div>


      <div class="tab-pane fade" id="nonprofits">
        <%= render "profiles/users_nonprofits", profile: @profile %>
      </div>

        <% if view_user == current_user %>
        <div class="tab-pane fade" id="recommended-opportunities">
          <table class="table table-striped">
            <thead class="table-head">
              <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Details</td>
              </tr>
            </thead>
            <tbody>
              <% if current_user.skills.present? %>
                <% current_user.skills.reduce([]) { |opps, skill| opps + skill.opportunities }.uniq.take(5).each do |opportunity| %>
                <tr>
                  <td><%= opportunity.headline %></td>
                  <td><%= opportunity.description %></td>
                  <td><%= link_to "View", opportunity_path(opportunity) %></td>
                </tr>
                <% end %>
              <% else %>
                <p>
                  <td>You have no recommended opportunities.</td>
                  <td></td>
                  <td></td>
                </p>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

    </div>
  </div>
</div>